{% extends 'base.html' %}

{% block title %}About{% endblock title %}
 <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 900px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
{% block body %}
  <div class=" position-relative overflow-hidden p-5 p-md-5 m-md-3 text-center bg-light">
  <div class="row">
      <img src="/static/about1.jpg/" class="col-md-8 d-block w-100" alt="...">
    <div class="col-md-3 p-lg-2 mx-auto my-auto justify-content-center">
      <h1 class="display-4 fw-normal">ABOUT US</h1>
      <p class="lead fw-normal">"One of the very nicest things about life is the way we must regularly stop whatever it is we are doing and devote our attention to eating." — Luciano Pavarotti</p>
      <a class="btn btn-outline-secondary" href="/">Ice-Creams</a>
    </div>
  </div>
</div>
  <hr class="featurette-divider">
  <div class="container py-4 mx-8" style="background-image: url('https://source.unsplash.com/1600x1100/?water,water');">
  <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2 class="text-center">Origin</h2>
          <p>Ice cream (derived from earlier iced cream or cream ice)[1] is a sweetened frozen food typically eaten as a snack or 
          dessert. It may be made from dairy milk or cream and is flavoured with a sweetener, either sugar or an alternative, and 
          a spice, such as cocoa or vanilla, or with fruit such as strawberries or some peaches.</p>
          <button class="btn btn-outline-light" type="button">Know More</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2 class="text-center">Composition</h2>
          <p>Ice cream is a colloidal emulsion made with water, ice, milk fat, milk protein, sugar and air. Water and fat have the highest
           proportions by weight creating an emulsion that has dispersed phase as fat globules. The emulsion is turned into foam by 
           incorporating air cells which are frozen to form dispersed ice cells. </p>
          <button class="btn btn-outline-secondary" type="button">Know More</button>
        </div>
      </div>
    </div>
    </div>
    <hr class="featurette-divider">
    <div class="fluid-container bg-light mx-5">
    <div class="row featurette">
      <div class="col-md-7 mx-auto my-auto">
        <h2 class="featurette-heading">Tagline - <span class="text-muted">Icecream,That Refreshes!</span></h2>
        <p class="lead">"Living life without a purpose is like having an ice cream cone in your hand, letting it melt and drip without eating it. It was yours to enjoy, but you lost it!"</p>
      </div>
      <div class="col-md-5 mx-auto my-auto">
      <!--<img src="/static/v1.jpg/" class="col-md-8 d-block eaturette-image img-fluid mx-auto" width="500" height="500" alt="...">-->
    <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="/static/v1.jpg/" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
      <img src="/static/v1.jpg/" class="d-block featurette-image img-fluid" width="500" height="500" alt="...">
      
      </div>
      </div>
    </div>
    <hr class="featurette-divider">

<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
      <small class="d-block mb-3 text-muted">&copy; 2017–2021</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Cool stuff</a></li>
        <li><a class="link-secondary" href="#">Random feature</a></li>
        <li><a class="link-secondary" href="#">Team feature</a></li>
        <li><a class="link-secondary" href="#">Stuff for developers</a></li>
        <li><a class="link-secondary" href="#">Another one</a></li>
        <li><a class="link-secondary" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Resource name</a></li>
        <li><a class="link-secondary" href="#">Resource</a></li>
        <li><a class="link-secondary" href="#">Another resource</a></li>
        <li><a class="link-secondary" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Business</a></li>
        <li><a class="link-secondary" href="#">Education</a></li>
        <li><a class="link-secondary" href="#">Government</a></li>
        <li><a class="link-secondary" href="#">Gaming</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Team</a></li>
        <li><a class="link-secondary" href="#">Locations</a></li>
        <li><a class="link-secondary" href="#">Privacy</a></li>
        <li><a class="link-secondary" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer>

{% endblock body %}
