{% extends 'base.html' %}

{% block title %}Services{% endblock title %}

{% block body %}
<div class="fluid-container text-white" style="background-image: url(/static/ice.jpg/);height:600px; background-size: cover; background-repeat: no-repeat; text-align:center;">
  <h1 class="display-4 text-center" style="font-size:5rem;">Services We Provide</h1>
  <p class="lead text-center">Welcome to the Services section of our website. Here you will find a range of companies that offer their many and varied Ice-Creams and sevices to the Fruit Bonanza.</p>
  <p class="text-center">Please click on the categories to find Ice-Creams suitable for you.</p>
  <a class="btn btn-primary btn-lg" style=" align-items:center;justify-content:center;"href="/about" role="button">Know More</a>
</div>
<h1 class="text-center my-4" style="color:#DC143C">Flavors Of Ice Cream</h1>
<div class="container marketing my-4">
  <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4" style="padding-top: 7px; text-align: center">
            <img class="rounded-circle" src="/static/c.jpg/" alt="Generic placeholder image" width="170" height="130">
            <h2>Raspberry</h2>
            <p>Raspberry Ripple is a popular flavour of ice cream particularly in Great Britain and also elsewhere. It consists of raspberry syrup injected into vanilla ice cream.</p>
            <p><a class="btn btn-info" href="#" role="button">View details</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4" style="padding-top: 7px; text-align: center">
            <img class="rounded-circle" src="/static/d.jpg/" alt="Generic placeholder image" width="170" height="130">
            <h2>Coffee </h2>
            <p>Coffee ice cream is a recently-made flavour of ice cream, they come in different forms containing a slight amount of caffeine. It tastes like coffee, but is edible by pre-teens and above.</p>
            <p><a class="btn btn-info" href="#" role="button">view details</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4" style="padding-top: 7px; text-align: center">
            <img class="rounded-circle" src="/static/e.jpg/" alt="Generic placeholder image" width="170" height="130">
            <h2>Chocolate</h2>
            <p>Chocolate ice cream is ice cream with natural or artificial chocolate flavoring.It is generally made by blending cocoa powder along with cream,vanilla and sugar used to make it.</p>
            <p><a class="btn btn-info" href="#" role="button">View details</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        </div>

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">
        <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4" style="padding-top: 7px; text-align: center">
            <img class="rounded-circle" src="/static/abc.jpg/" alt="Generic placeholder image" width="170" height="130">
            <h2>Caramel</h2>
            <p>Crème caramel,flan, or caramel custard is a custard dessert with a layer of clear caramel sauce, contrasted with crème brûlée which is custard with a hard caramel layer on top.</p>
            <p><a class="btn btn-info" href="#" role="button">View details</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4" style="padding-top: 7px; text-align: center">
            <img class="rounded-circle" src="/static/g.jpg/" alt="Generic placeholder image" width="170" height="130">
            <h2>Cookies </h2>
            <p> Cookies and cream ice cream generally mixes in crumbled chocolate sandwich cookies into vanilla ice cream, though variations exist which might instead use chocolate, coffee or mint ice cream.</p>
            <p><a class="btn btn-info" href="#" role="button">View details</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4" style="padding-top: 7px; text-align: center">
            <img class="rounded-circle" src="/static/h.jpg/" alt="Generic placeholder image" width="170" height="130">
            <h2>Häagen-Dazs</h2>
            <p>Häagen-Dazs ice cream comes in several traditional flavors as well as several esoteric flavors that are specific to the brand, such as Vanilla Swiss Almond and Bananas Foster.</p>
            <p><a class="btn btn-info" href="#" role="button">View details</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        </div>

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">
        <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4" style="padding-top: 7px; text-align: center">
            <img class="rounded-circle " src="/static/y.jpg/" alt="Generic placeholder image" width="170" height="130">
            <h2>Vanilla</h2>
            <p> Vanilla ice cream, like other flavors of ice cream, was originally created by cooling a mixture made of cream, sugar, and vanilla above a container of ice and salt.</p>
            <p><a class="btn btn-info" href="#" role="button">View details</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4" style="padding-top: 7px; text-align: center">
            <img class="rounded-circle" src="/static/z.jpg/" alt="Generic placeholder image" width="170" height="130">
            <h2>Butterscotch</h2>
            <p>Butterscotch is a type of confectionery whose primary ingredients are brown sugar and butter, but other ingredients are part of some recipes, such as corn syrup, cream, vanilla, and salt. </p>
            <p><a class="btn btn-info" href="#" role="button">View details</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4" style="padding-top: 7px; text-align: center">
            <img class="rounded-circle" src="/static/v3.jpg/" alt="Generic placeholder image" width="170" height="130">
            <h2>Strawberry</h2>
            <p>Strawberry ice cream is a flavor of ice cream made with strawberry or strawberry flavoring.It is made by blending in fresh strawberries flavoring with the eggs,etc used to make ice cream.</p>
            <p><a class="btn btn-info" href="#" role="button">View details</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        </div>

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">
{% endblock body %}
